@import "tailwindcss";

@layer base {
  body {
    background-color: #030712; /* Tailwind neutral-950 */
    color: #f3f4f6; /* Tailwind neutral-100 */
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
}